body {
    background-color:lightslategray;
}
input{
    border-radius:3px;
    width:100%;
}
.auth{
    text-shadow: 0 2px 4px rgba(0,0,0,.1);
    width: 500px;
    height: 400px;
    background-color: lightgrey;
}
.auth-form{
    margin: 30px 30px 20px;
    
}

.remember_me{
    width:20px;
}

.auth-nav{
    background-color: #20303B;
}
.navbar{
    border-color:#20303B;
}