<!-- use for form field render -->
{% macro render_field(field) %}
    {{ field(class="form-control input-lg", placeholder=field.description) }}
    {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
                <li><div style="color: red">{{ error }}</div></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<!-- use for shipping status button in user history-->
{% macro shipping_status(order_info) %}
    {% if order_info.status == 0 %}
        <button type="button" class="btn btn-info" title="<b>Preparing</b>"
                data-container="body" data-toggle="hover" data-placement="right"
                data-content="<div style='white-space: pre-line'>Shipping Address:<br>{{ order_info.shipping }}</div>">
            Processing
        </button>
    {% elif order_info.status == 1 %}
        <button type="button" class="btn btn-success" title="<b>In Transit</b>"
                data-container="body" data-toggle="hover" data-placement="right"
                data-content="<div style='white-space: pre-line'>Shipping Address:<br>{{ order_info.shipping }}">
            Shipped
        </button>
    {% else %}
        <button type="button" class="btn btn-primary" title="<b>Delivered</b>"
                data-container="body" data-toggle="hover" data-placement="right"
                data-content="<div style='white-space: pre-line'>Shipping Address:<br>{{ order_info.shipping }}">
            Completed
        </button>
    {% endif %}
{% endmacro %}