{% extends "template.html" %}
{% from "_helpers.html" import render_field %}
{% block cssfile %}  <link rel="stylesheet" href="/static/css/auth.css">
{% endblock %}

{% block body %}
<nav class="navbar navbar-default auth-nav" role="navigation">
    <a class="navbar-brand" href="#"><span class="fas fa-video"></span> Movie World</a>
</nav>

<div class="container auth">
    <div class="row">
        <div class="auth-form">
            {% block auth %}
            {% endblock %}
        </div>
    </div>
</div>
<br>
{% endblock %}