{% extends "template.html" %}
{% from "_helpers.html" import render_field %}
{% block cssfile %}
        <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="navbar navbar-default auth-nav" role="navigation">
    <a class="navbar-brand" href="/"><span class="fas fa-video"></span> Movie World</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section class="auth-form">
                <form class="auth" action="" method="post" novalidate>
                    {% block auth %}
                    {% endblock %}
                </form>
            </section>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<br>
{% endblock %}
{% block footer %}
<br>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center text-secondary">
                <strong>&copy;{{ current_year }} Movie World</strong>
            </div>
        </div>
    </div>
</footer>
{% endblock %}