{% extends "base.html" %}
{% block cssfile %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% if current_user.type == 'customer' %}
        <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default running-nav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Movie World</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    {% if current_user.type != 'customer' %}
                        <li{% if current_page == '/manager' %} class="active"{% endif %}><a href="/manager">Manage</a></li>
                    {% else %}
                        <li{% if current_page == '/list' %} class="active"{% endif %}><a href="/list">VIEW ALL</a></li>
                        <li{% if current_page == '/shopping' %} class="active"{% endif %}><a href="/shopping">SHOPPING</a></li>
                    {% endif %}
                </ul>
                    {% if search_bar %}
                        <div class="nav navbar-nav">
                            <form class="navbar-form" method="post" id="search_bar" novalidate>
                                {{ form.hidden_tag() }}
                                <div class="input-group">
                                    {{ form.choice(class="form-control", onchange="this.form.submit()") }}
                                </div>
                                <div class="input-group">
                                    {% if form.choice.data == 'year' %}
                                        {{ form.year(class="form-control", onchange="this.form.submit()") }}
                                    {% elif form.choice.data == 'genres' %}
                                        {{ form.genres(class="form-control", onchange="this.form.submit()") }}
                                    {% elif form.choice.data == 'content_rating' %}
                                        {{ form.content_rating(class="form-control", onchange="this.form.submit()") }}
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    {{ form.sort_by(class="form-control", onchange="this.form.submit()") }}
                                    <div class="input-group-btn">
                                        {{ form.order() }}
                                        {% if form.sort_by.data != 'None' %}
                                            <button class="btn btn-default" type="submit" name="submit1" value="order">
                                                {% if form.order.data == 'desc' %}
                                                    <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                                {% else %}
                                                    <i class="glyphicon glyphicon-sort-by-attributes"></i>
                                                {% endif %}
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="input-group">
                                    {{ form.search_term(class="form-control", placeholder="Search") }}
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" name="submit1" value="search"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right running-nav-right">
                        {% if current_user.is_anonymous %}
                            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                        {% else %}
                            {% if stores %}
                                <li><a><select class="form-control" id="store_id_select" onchange="change_store_id()" style="height: 20px">
                                    {% for store in stores %}
                                        <option value="{{ store.id }}" {% if session.store_id == store.id %}selected{% endif %}>{{ store.name }}</option>
                                    {% endfor %}
                                </select></a></li>
                            {% endif %}

                            {% if current_user.type == 'customer' %}
                                <li><a href="/show_history"><span class="glyphicon glyphicon-user"></span> Hi, {{ current_user.username }}</a></li>
                            {% else %}
                                <li><a href="/manage_customer"><span class="glyphicon glyphicon-user"></span> Hi, {{ current_user.username }} </a></li>
                            {% endif %}

                            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

                            {% if current_user.type == 'customer' %}
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> CART <span class="badge">0</span></a>
                                    {#                                    <button onclick="popupYear()">test</button>#}
                                    <div id="shoppingcart-content" class="dropdown-menu scrollable-menu" role="menu">
                                        <div class="container" style="width:450px;color:black !important;">
                                            <div class="product_list">
                                                <div id="cart_product"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
{% endblock %}
