{% extends "index_with_search_bar.html" %}
{% block movie_list %}
    <table class="table table-hover movie-list">
        <thead>
            <tr>
                <th>ImdbId</th>
                <th>Title</th>
                <th>YEAR</th>
                <th>Stock</th>
                <th>Price</th>
                <th> </th>
            </tr>
        </thead>
        {% for movie in movies %}
        <tr>
            <td>
                <h5>{{ movie.imdbid }}</h5>
            </td>
            <td>
                <a href="/movie/{{ movie.id }}"><h5>{{ movie.title }}</h5></a>
            </td>
            <td>
                <h5>{{ movie.year }}</h5>
            </td>
            <th>
                <h5>{{ movie.stock }}</h5>
            </th>
            <td><span class="price">
                    <h5>{{ movie.price }}</h5>
                </span></td>
            <td>
                <button type="button" class="fas fa-plus" id={{ movie.id }}></button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}