{% extends "auth.html" %}

{% block auth %}
    <div class="auth-header"><h1>Sign In</h1></div>
    {{ form.hidden_tag() }}
    {% for field in [form.username, form.password] %}
        {{ render_field(field) }}
    {% endfor %}

    <div class="form-group" style="text-align: left">
        {{ form.remember_me(class="remember_me") }}
        {{ form.remember_me.label }}
    </div>
    <h4>{{ form.submit(class="btn btn-primary btn-block btn-lg") }}</h4>
    <div>
        <a href="/register">Create account</a>
    </div>
{% endblock %}