{% extends "auth.html" %}

{% block auth %}
<h1>Sign In</h1>
<form action="" method="post" novalidate>
    <div class="form-group">
        <label>{{ form.hidden_tag() }}</label>
    </div>
    <div class="form-group">
        <label>{{ render_field(form.username) }}</label>
    </div>
    <div class="form-group">
        <label>{{ render_field(form.password) }}</label>
    </div>



    <div class="form-group" style="text-align: left">
        {{ form.remember_me(class="remember_me") }}
        {{ form.remember_me.label }}
    </div>
    <h4>{{ form.submit() }}</h4>
</form>
{% endblock %}