{% extends "index.html" %}
{% block cssfile %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/manage_store.js') }}"></script>
{% endblock %}
{% block content %}
     <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>StoreId</th>
                <th>Email</th>
                <th>Region</th>

            </tr>
            <tr>
                <td><input type="text text-center" class="form-control storeid" value=""></td>
                <td><input type="text text-center" class="form-control email" value=""></td>
                <td><input type="text text-center" class="form-control region" value=""></td>
                <td>
                    <a href="#" class="del-btn senior-admin-p-add"><span class="glyphicon glyphicon-plus"> Add</span></a>
                </td>
            </tr>
            </thead>
            {#            Manage the movie#}
            {% for store in stores %}
                <tr>
                    <td><h5>{{ store.id }}</h5></td>
                    <td><h5>{{ store.email }}</h5></td>
                    <td><h5>{{ store.region }}</h5></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}