{% extends "index.html" %}
{% block cssfile %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie_detail.css') }}">
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 3%">
        <div class="row">
            <div class="col-md-6" style="padding-right: 2%">
                <img class="img-fluid"  style="max-height: 600px;" alt="{{ movie_info.title }}" src="{{url_for('static', filename='posters/' + movie_info.movie_id + '.jpg')}}">
            </div>
            <div class="col-md-6" style="margin-bottom: 0">
                <form id="movie-detail" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <h2 class="movie-title text-light">{{ form.title(value=movie_info.title, size=15, placeholder='Title') }}</h2>
                    <strong class="text-light">{{ form.year(value=movie_info.year, size=4, placeholder='Year') }}</strong>
                    <hr><br>
                    <div class="movie-summary text-light">
                        <textarea id="summary" name="summary" form="movie-detail" style="width: 400px; height: 200px" placeholder="Summary">{{ movie_info.summary }}</textarea>
                    </div>
                    <br><br>
                    <ul class="movie-meta text-light">
                        <li><strong>Rating:  </strong><span style="width:80%"><strong class="rating">{{ form.rating(value=movie_info.rating, size=1, placeholder='Rating') }}</strong> out of 10</span></li>
                        <li><strong>Certificate:  </strong>{{ form.content_rating(value=movie_info.certificate, size=6, placeholder='Certificate') }}</li>
                        <li><strong>Genres:  </strong> {{ movie_info.genres }}</li>
                    </ul>
                    <br>
                    <div class="container-fluid" style="margin: 5%; width: 80%">
                        <div class="row">
                            <div class="col-md-6 movie-detail">
                                <button type="submit" class="btn btn-outline-light">Submit Changes</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-outline-info" onclick="location.href='{{ movie_info.imdb_link }}'">Details on IMDB</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- .row -->
    </div>

{% endblock %}
{% block footer %}
<br>
<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-md-12 text-center">
                <strong>&copy;{{ current_year }} Movie World</strong>
            </div>
        </div>
    </div>
</footer>
{% endblock %}