{% extends "index_with_search_bar.html" %}
{% block cssfile %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/manage_movies.js') }}"></script>
{% endblock %}
{% block movie_list %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>ImdbID</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Inventory</th>
                <th>Sale Price</th>
                <th>Cost</th>
            </tr>
            <tr>
                <td><input type="text" class="form-control movieid" value="{{ max_id + 1 }}" readonly></td>
                <td><input type="text" class="form-control imdbid" value=""></td>
                <td>
                    <div class="img-container">
                        <img class="picture" height="42" width="42" alt="select a picture" title="select a picture"
                             src="../static/posters/0.jpg">
                        <input class="image custom-file-input" id="my-file-selector" type="file" style="display:none;"
                               accept="image/x-png,image/gif,image/jpeg">
                    </div>
                <td><input type="text" class="form-control name" value=""></td>
                <td><input type="text" class="form-control amount" value=""></td>
                <td><input type="text" class="form-control sale-price" value=""></td>
                <td><input type="text" class="form-control cost" value=""></td>
                <td>
                    <a href="#" class="del-btn admin-p-add"><span class="glyphicon glyphicon-plus"> Add</span></a>
                </td>
            </tr>
            </thead>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.imdb_id }}</td>
                    <td>
                        <div class="img-container">
                            <img class="picture" height="45" width="30" alt="select a picture" title="select a picture"
                                 src={{ url_for('static', filename='posters/' + movie.id + '.jpg') }}/>
                            <div class="img-centered">
                                <label class="img-label" for="my-file-selector'.$product_id.'">
                                    <input fn="'.$image.'" class="image" id="my-file-selector'.$product_id.'"
                                           type="file" style="display:none;" accept="image/x-png,image/gif,image/jpeg">
                                </label>
                            </div>
                        </div>
                    </td>
                    <td><input type="text" class="form-control name" value="{{ movie.name }}"></td>
                    <td><input type="text" class="form-control inventory" value={{ movie.inventory }}></td>
                    {#            <td><input type="text" class="form-control keywords" value="'.$keywords.'"></td>#}
                    <td><input type="text" class="form-control price" value={{ movie.price }}></td>
                    <td><input type="text" class="form-control cost" value={{ movie.cost }}></td>
                    <td>
                        <a href="#" remove_id="{{ movie.id }}" class="del-btn admin-p-remove"><span
                            class="fas fa-trash-alt"></span></a>
                        <a href="#" update_id="{{ movie.id }}" class="del-btn admin-p-update"><span
                            class="fas fa-redo-alt"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}