{% extends "index.html" %}
{% block cssfile %}
    <link href="{{ url_for('static', filename='css/shopping.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/shopping.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% if not images %}
            <p>No Result Found!</p>
            <button type="button" class="btn btn-default" onclick="location='/shopping'">Show All</button>
        {% endif %}
        <div class="row movie-list">
            {% for img in images %}
                <div class="col-md-3 text-center">
                    <div class="wrapper">
                        <img src="{{url_for('static', filename='posters/' + img.id + '.jpg')}}">
                        <span class="highlight-price"><h5>${{ img.price }}</h5></span>
                        <h5>{{ img.title }}</h5>
                        <button type="button" class="btn btn-primary" id={{ img.id }}>ADD TO CART</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}