{% extends "index_with_search_bar.html" %}
{% block cssfile %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/shopping.css') }}" rel="stylesheet">
{% endblock %}

{% block movie_list %}
    <hr>
    {% if not images %}
    <div class="row">
        <br>
        <h4>No Result Found!</h4>
    </div>
    <div class="row">
        <br>
        <button type="button" class="btn btn-outline-dark" onclick="location='/shopping'">Show All</button>
    </div>
    {% endif %}
    <div class="row movie-list">
        {% for img in images %}
        <div class="col-md-3 text-center">
            <div class="wrapper">
                <a href="/movie--{{ img.id }}"><img src="{{url_for('static', filename='posters/' + img.id + '.jpg')}}" height="300"></a>
                <span class="highlight-price">
                    <h5>${{ img.price }}</h5>
                </span>
                <h5>{{ img.title }}</h5>
                <button type="button" class="btn btn-outline-dark" id={{ img.id }}>ADD TO CART</button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}