{% extends "index.html" %}
{% from "_helpers.html" import shipping_status %}
{% block cssfile %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/show_history.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <div class="row"><h2  style="text-align: center; width: 100%">Your Orders</h2></div>
        <hr width="80%">
        {% for order_info in history %}
            <div class="container auto-center" style="border: 2px solid; border-color: rgb(231, 231, 231)">
                <div class="row" style="text-align: center;background-color: rgb(231, 231, 231)">
                    <div class="col-md-3">Order Placed</div>
                    <div class="col-md-3">Total (with tax)</div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">PayPal Order #</div>
                    <div class="w-100"></div>
                    <div class="col-md-3">{{ order_info.date }}<br>In Store: <b>{{ order_info.store }}</b></div>
                    <div class="col-md-3">$ {{ order_info.total_price }}</div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">{{ order_info.paypal_id }}</div>
                </div>
                <div class="row">
                    <div class="col-md-10" style="padding: 0">
                        <table class="table table-hover">
                            <tr>
                                <th scope="col"><b>Poster</b></th>
                                <th scope="col"><b>Title</b></th>
                                <th scope="col"><b>Amount</b></th>
                                <th scope="col"><b>Unit Price</b></th>
                            </tr>
                            {% for movie_detail in order_info.item_list %}
                                <tr>
                                    <td><img src="{{url_for('static', filename='posters/' + movie_detail.movieID + '.jpg')}}" width="40px" height="60px"></td>
                                    <td>{{ movie_detail.title }}</td>
                                    <td>{{ movie_detail.amount }}</td>
                                    <td>{{ movie_detail.price }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-2" style="margin:0 auto; padding: 0">{{ shipping_status(order_info) }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
    $(function () {
        $("[data-toggle='hover']").popover({html:true, trigger:'hover'});
    });
    </script>
{% endblock %}