<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if not title %}Movie World{% endif %}
        {{ title }}
    </title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
    {% block cssfile %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

{% for message in get_flashed_messages() %}
    <script>
        alert("{{ message }}");
    </script>
{% endfor %}

</body>
</html>