{% extends "index.html" %}
{% block content %}
    <h1>test</h1>
    <h2>{% if test %} {{ test }} {% endif %}</h2>
    <div class="nav navbar-nav">
    <form class="navbar-form" method="post" novalidate>
        <div class="input-group">
            {{ form.hidden_tag() }}
            {{ form.choice(class="form-control", onchange="this.form.submit()") }}
            {% if form.choice.data == 'year' %}
                {{ form.year(class="form-control", onchange="this.form.submit()") }}
            {% elif form.choice.data == 'genres' %}
                {{ form.genres(class="form-control", onchange="this.form.submit()") }}
            {% elif form.choice.data == 'content_rating' %}
                {{ form.content_rating(class="form-control", onchange="this.form.submit()") }}
            {% endif %}
            {{ form.sort_by(class="form-control", onchange="this.form.submit()") }}
            {{ form.order(class="form-control", onchange="this.form.submit()") }}
            {{ form.search_term(class="form-control") }}
{#            {{ form.submit() }}#}
        </div>
    </form>

{#    <form class="navbar-form" method="post" novalidate>#}
{#        <div class="input-group">#}
{#            {{ form2.hidden_tag() }}#}
{#            {{ form2.sort_by(class="form-control", onchange="this.form.submit()") }}#}
{#            {{ form2.order(class="form-control", onchange="this.form.submit()") }}#}
{#            {{ form2.search_term(class="form-control") }}#}
{#            {{ form2.sort_button() }}#}
{#            {{ form2.search_button() }}#}
{##}
{#        </div>#}
{#    </form>#}
    </div>
{% endblock %}