<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    {% block cssfile %}{% endblock %}
</head>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Movie Sales</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Manage</a></li>
                <li><a href="#">Wait For Edit</a></li>
            </ul>
            {% if home %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            {% endif %}
        </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>