<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    {% block cssfile %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Movie Sales</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Manage</a></li>
                <li><a href="#">Wait For Edit</a></li>
            </ul>
            {% if home %}
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                    <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                {% else %}
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-shopping-cart"></span> CART <span class="badge">0</span></a>
                    <li><a><span class="glyphicon glyphicon-user"></span> Hi, {{ current_user.username}} </a></li>
                    <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>