{% extends "base.html" %}
{% block body %}
    <nav class="navbar navbar-default running-nav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Movie Sales</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    {% if current_user.type != 'customer' %}
                        <li class="active"><a href="manager">Manage</a></li>
                    {% else %}
                        <li class="active"><a href="list">VIEW ALL</a></li>
                        <li ><a href="shopping">SHOPPING</a></li>
                    {% endif %}
                </ul>
                    {% if search_bar %}
                        <div class="nav navbar-nav">
                            <form class="navbar-form" id="search_bar">
                                <div class="input-group">
                                    <select class="form-control" name="sort_by" id="sort_by">
                                        <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Title</option>
                                        <option value="year" {% if sort_by == 'year' %}selected{% endif %}>Year</option>
                                        <option value="rating" {% if sort_by == 'rating' %}selected{% endif %}>Rating</option>
                                        <option value="contentRating" {% if sort_by == 'contentRating' %}selected{% endif %}>Content Rating</option>
                                        <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Price</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" value="{{ order }}" id="order"
                                                name="order">
                                            {% if order %}
                                                <i class="glyphicon glyphicon-sort-by-attributes"></i>
                                            {% else %}
                                                <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                            {% endif %}
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="search_term" value="{{ search_term }}"
                                           id="search_term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" name="search_btn"><i
                                                class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right running-nav-right">
                        {% if current_user.is_anonymous %}
                            <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                        {% else %}
                            {% if stores %}
                                <li><select class="form-control" id="store_id_select" onchange="change_store_id()">
                                    {% for store_item in stores %}
                                        {{ store_item.id }} {{ store_id }} {{ store_id == store_item.id }}
                                        <option value="{{ store_item.id }}" {% if store_id == store_item.id %}selected{% endif %}>{{ store_item.name }}</option>
                                    {% endfor %}
                                </select></li>
                            {% endif %}

                            <li><a href="manage_customer"><span class="glyphicon glyphicon-user"></span> Hi, {{ current_user.username }} </a></li>
                            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

                            {% if current_user.type == 'customer' %}
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> CART <span class="badge">0</span></a>
                                    {#                                    <button onclick="popupYear()">test</button>#}
                                    <div id="shoppingcart-content" class="dropdown-menu scrollable-menu" role="menu">
                                        <div class="container" style="width:600px;color:black !important;">
                                            <div class="product_list">
                                                <div id="cart_product"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}
