{% extends "index.html" %}
{% block content %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>ImdbId</th>
                <th>Title</th>
                <th>YEAR</th>
                <th>Country</th>
                <th>Stock</th>
                <th>Price</th>
            </tr>
            </thead>
            {#            Manage the movie#}
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td><h5>{{ movie.imdbid }}</h5></td>
                    <td><h5>{{ movie.title }}</h5></td>
                    <td><h5>{{ movie.year }}</h5></td>
                    <td><h5>{{ movie.country }}</h5></td>
                    <th><h5>{{ movie.stock }}</h5></th>
                    <td><span class="price"><h5>{{ movie.price }}</h5></span></td>
                    <td>
                        <a href="#" add_id={{ movie.id }} class="del-btn admin-p-add"><span
                            class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}