<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/login.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default login-nav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Movie Sales</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ><a href="/index">Manage</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container log">
    <div class="row">
        <div class="login-form">
            <h1>Sign In</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32, class='my_passport') }}
                </p>
                <p>{{ form.remember_me.label }}{{ form.remember_me() }}
                </p>
                <p><h4>{{ form.submit(class='sub-button') }}</h4></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
