{% block cssfile %}<link href="static/css/shopping.css" rel="stylesheet">{% endblock %}
{% extends "index.html" %}
{% block content %}
    <div class="container">
{#        {% for image in images %}#}
        <div class="row">
            {% for img in images %}
                <div class="col-md-3 text-center">
                    <div class="wrapper">
                        <img src="{{url_for('static', filename='posters/' + img.id + '.jpg')}}">
                        <h5>${{ img.price }}</h5>
                        <h5>{{ img.title }}</h5>
                        <button type="button" class="btn btn-primary" id={{ img.id }}>ADD TO CART</button>
                    </div>
                </div>
            {% endfor %}
        </div>
{#        {% endfor %}#}

        <div class="row">
            <div class="col-md-3 text-center">

            </div>
            <div class="col-md-3 text-center">

            </div>
            <div class="col-md-3 text-center">

            </div>
            <div class="col-md-3 text-center">

            </div>
        </div>
    </div>
{% endblock %}