{% extends "index.html" %}
{% block cssfile %}
{% endblock %}
{% block content %}
    <div class="container">
        {% for history_datas in history %}
            <div class="row"><h5>PaypalId:{{ history_datas.paypal_id }}</h5></div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><h5>MovieImage</h5></th>
                        <th><h5>MovieID</h5></th>
                        <th><h5>StoreID</h5></th>
                        <th><h5>Amount</h5></th>
                    </tr>
                    </thead>

                    {% for history_data in history_datas.item_list %}
                        <tr>
                            <td><img src="{{url_for('static', filename='posters/' + history_data.movieID + '.jpg')}}" width="45px" height="45px"></td>
                            <td><h5>{{ history_data.movieID }}</h5></td>
                            <td><h5>{{ history_data.storeID }}</h5></td>
                            <td><h5>{{ history_data.amount }}</h5></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}