<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Simple Flask App | {% block title %}{% endblock %}</title>
  </head>
  <body>
     <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><h5>PaypalId</h5></th>
                <th><h5>CustomerID</h5></th>
                <th><h5>MovieID</h5></th>
                <th><h5>StoreID</h5></th>
            </tr>
            </thead>
            {#            Manage the movie#}
                <tr>
                    <td>{{ history.customerID }}</td>
                    <td><h5>{{ history.movieID }}</h5></td>
                    <td><h5>{{ history.storeID }}</h5></td>
                    <td><h5>{{ history.Price}}</h5></td>
                </tr>
            <tr>
                    <td>{{ history.customerID }}</td>
                    <td><h5>{{ history.movieID }}</h5></td>
                    <td><h5>{{ history.storeID }}</h5></td>
                    <td><h5>{{ history.Price}}</h5></td>
                </tr>
            <tr>
                    <td>{{ history.customerID }}</td>
                    <td><h5>{{ history.movieID }}</h5></td>
                    <td><h5>{{ history.storeID }}</h5></td>
                    <td><h5>{{ history.Price}}</h5></td>
                </tr>
        </table>

         <div class="row">
             <div class="col-md-12 text-center">
                 <h5>Paypal ID = 12412</h5>
             </div>
         </div>
    </div>
  </body>
</html>